<nav class="navbar navbar-admin col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex justify-content-center">
    <p class="text-logo">Admin</p>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <ul class="navbar-nav mr-lg-4 w-100">
      <li class="nav-item nav-search d-none d-lg-block w-100">
        <%= form_tag do %>
          <div class="input-group">
            <%= text_field_tag :search, "", class: "form-control" %>
            <%= submit_tag t("global.search") %>
          </div>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <%= link_to "VI", {locale:"vi"}, class: "btn border" %>
      <%= link_to "EN", {locale:"en"}, class: "btn border" %>
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
          <span class="nav-profile-name">Vo Trong Thanh</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <%= link_to raw(t "menu.user.settings" ), "#", class: "dropdown-item" %>
          <%= link_to raw(t "menu.user.logout" ), "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
