<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= t "page.admin.list_products_title"%></h4>
            <h4 class="card-title"><%= t "order_status.received"%>: <%= @received_orders.count %></h4>
            <h4 class="card-title"><%= t "order_status.pending"%>: <%= @pending_orders.count %></h4>
            <h4 class="card-title"><%= t "order_status.delivering"%>: <%= @delivering_orders.count %></h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= t "page.order.order_id"%></th>
                    <th><%= t "page.order.date"%></th>
                    <th><%= t "page.order.subtotal"%></th>
                    <th><%= t "page.order.status"%></th>
                    <th><%= t "page.order.by_user"%></th>
                    <th><%= t "page.order.phone"%></th>
                    <th><%= t "page.order.address"%></th>
                    <th><%= t "global.operation"%></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @orders %>
                </tbody>
              </table>
              <%== pagy_nav(@pagy)%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
