<tr>
  <td class="align-middle">
    <%= link_to image_tag(product.image) %> <%= product.name %>
  </td>
  <td class="align-middle"><%= number_to_currency product.price %></td>
  <td class="align-middle">
    <div class="input-group quantity mx-auto" style="width: 100px;">
      <%= form_for :session, url: carts_path, method: :patch, remote: true do |f| %>
        <%= f.number_field :quantity, class: "form-control form-control-sm bg-secondary text-center", value: @cart[(product.id).to_s], min: 1 %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit t("global.button.update"), class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
  </td>
  <td class="align-middle"><%= number_to_currency(product.price * @cart[product.id.to_s]) %></td>
  <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
</tr>

