<div class="col-lg-3">
  <div class="card product-item mb-4">
    <div class="card-header product-img border">
      <%= link_to image_tag(product.image) %>
    </div>
    <div class="card-body text-center">
      <h4><%= product.name %></h4>
      <div class="card-content">
        <h4><%= number_to_currency(product.price)  %></h4>
      </div>
    </div>
    <div class="card-footer border">
      <a href="" class="btn btn-sm"><i class="fas fa-eye text-primary"></i>
        <%= t "page.home.view_detail" %>
      </a>
      <a href="" class="btn btn-sm"><i class="fas fa-shopping-cart text-primary"></i>
        <%= t "page.home.add_card" %>
      </a>
    </div>
  </div>
</div>

