<div class="col-lg-3">
  <div class="card product-item mb-4">
    <div class="card-header product-img border">
      <%= link_to image_tag(product.image) %>
    </div>
    <div class="card-body text-center">
      <h4><%= product.name %></h4>
      <div class="card-content">
        <h4><%= number_to_currency(product.price)  %></h4>
      </div>
    </div>
    <div class="card-footer border d-flex">
      <a href="" class="btn btn-sm"><i class="fas fa-eye text-primary"></i>
        <%= t "page.home.view_detail" %>
      </a>
      <%= form_for :session, url: carts_path, method: :post, remote: true do |f| %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit t("page.home.add_card"), class: "btn btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
