<div class="container-fluid">
  <div class="row align-items-center py-3">
    <div class="col-lg-3">
      <%= link_to(raw("<h1 class='text_logo'><span class='text-primary border'>T</span>Shop</h1>"), root_path) %>
    </div>
    <div class="col-lg-6 col-6">
      <%= search_form_for @search, url: root_path, method: :get do |f| %>
        <div class="input-group">
          <%= f.text_field :product_cont, class: "form-control"%>
          <%= f.hidden_field :category_name_cont, class: "form-control"%>
          <%= f.submit t("global.search") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3 col-6 text-right">
        <%= link_to "VI", {locale:"vi"}, class: "btn border" %>
        <%= link_to "EN", {locale:"en"}, class: "btn border" %>
      <a href="" class="btn border">
        <i class="fas fa-heart text-primary"></i>
        <span class="badge">0</span>
      </a>
      <%= link_to carts_path, class: "btn border" do %>
        <i class="fas fa-shopping-cart text-primary"></i>
        <% if @quantity == 0 %>
          <span class="badge">0</span>
        <% else %>
          <span class="badge" style="background-color: #dc3545;"><%= @quantity %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
